body {      
      background-image: url(/Images/Untitled\ design.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed; 
      background-repeat: no-repeat;
      overflow-x: hidden;
      
      
    
    }
    

     

/*  NAVIGATION BAR STYLES */
.Navbar { 
  font-size: 18px;
  font-weight: 500;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 20px; /* Padding to align content inside */
  background-color: #a4ccd0; /* Matching the background color */
}

.Navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.Navbar li {
  margin-right: 0px; /* No additional margin between links */
  display: flex;
  align-items: center;
}

.Navbar ul li a {
  text-decoration: none; /* Remove underline */
  color: #000; /* Text color */
  padding: 8px 15px; /* Padding around the text */
  border: 2px solid transparent; /* Initial border (invisible) */
  transition: border 0.3s ease; /* Smooth transition for the border */
}

.Navbar ul li a:hover {
  border-color: aqua;
  color: black;
}

.logo {
  margin-right: 20px;
}

.header {
  position: fixed;
  font-family: "Righteous", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  background: #a4ccd0;
  z-index: 100;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Navbar li {
  border-right: 1px solid #bbb;
}

.Navbar li:last-child {
  border-right: none;
}

.Navbar li a {
  display: block;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 14px 16px;
}

.Navbar a:hover:not(.active) {
  border-radius: 10px;
  background-color: #a4ccd0;
}

.Navbar .active {
  border-radius: 10px;
  background-color: #a4ccd0;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="search"] {
  padding: 10px;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  background-color: #fff;
  padding-left: 20px;
}

.search-box button[type="submit"] {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: #3fa8c2;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.search-box input[type="search"]:focus {
  outline: none;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
  }

  .Navbar ul {
    flex-direction: column;
    text-align: center;
  }

  .search-box {
    margin-top: 15px;
  }

  .Navbar li {
    border-right: none; /* Remove borders on smaller screens */
    border-bottom: 1px solid #bbb;
    padding: 10px;
  }

  .Navbar li:last-child {
    border-bottom: none;
  }

  .header {
    position: relative;
    padding: 10px;
  }
}

  


   /* END OF NAVIGATION BAR STYLES*/







/* HOME PAGE */

h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  
}


.bcimage {
  width: 100%; /* Make image responsive */
  height: auto;

  
} 

  .background {
    position: relative;
  }


   .white-box p {
    text-align:center;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
  }

    .white-box {
      position: absolute; 
      top: 50%; /* Adjust the top position */
      left: 50%; /* Adjust the left position */
      transform: translate(-50%, -50%); /* Center the box */
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 80%;
      text-align: center;
    }   
      .Center {
        justify-content: center;
        display: flex;
      }

      .image {
        
        display: absolute;
        position: center;
        margin-top: 10px; 
        margin-right: 20px;
        
      }

      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "Righteous", sans-serif;
        font-weight: 400;
      }


     /* FLEX CONTAINER SECTION */ 

     .flex-container1, .flex-container2 {
      background-color: rgba(255, 255, 255, 0.5); /* 50% transparent white background */
      flex-grow: 1; /* make the container take up more space */
      height: 500px; 
      flex-basis: 80%;
    }
    
      .flex-container1 {
        display: flex;
        position: relative;        
        justify-content:space-between;  
      }

      .flex-container1 > div {        
        flex-basis: 50%;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        justify-content: space-between;
        border-radius: 20px;        
        flex-grow: 1;
      }

      .flex-container2 {
        display: flex;
        position: relative;       
        justify-content: flex-start; /* align items within a container */        
      }


      .flex-container2 > div {        
        flex-basis: 50%;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        justify-content: space-between;
        border-radius: 20px;   
        flex-grow: 1;
      }
    
      /* flex Images */
      .ms1 {
        justify-content: flex-end;
        object-fit: cover;
        border-radius: 10px;
        width: 100%;
        height: 100%;
      }

      /* text */
      h4 {
        font-family: "Righteous", sans-serif;
        font-weight: 300;
        font-size: 26px;
        text-align: center;
        font-size: 30px;
        margin: 20px;
      }

      .mission1 {
       margin: 20px;
       margin-bottom: 40px;
       font-family: "Josefin Sans", sans-serif;
       font-size: 20px;
       text-align: justify;
       margin-top: 120px;
      }
      /* */

      .mission2 {
        margin: 20px;
        margin-bottom: 40px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 20px;
        text-align: justify;
        margin-top: 120px;

      }

      .text-overlay {
        font-family: "Righteous", sans-serif;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(19, 39, 53);
        font-size: 60px;
        font-weight: bold;
        text-align: center;
      }
      
      h3 {
        text-align: center;
        font-size: 40px;
        font-family: "Righteous", sans-serif;
        font-weight: lighter;
      }

      .service-list ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

    

      .service-list ol li {
        flex-basis: 45%; 
        margin: 20px 20px;
        margin-bottom: 5px;
        font-family: "Josefin Sans", sans-serif;;

      }
      .service-list ol li ul {
        margin-bottom: 40px;
      }

/* NEWS & UPDATES */
    .cntr {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 20px;
    }
  
      .updt {
        display: flex;
        justify-content: space-between;
        background-color: #777; /* Matches the gray content background */
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* shadow */
        height: 200px;
    }
  
      .txt-1 {
        list-style-type: none;
        padding: 0;
        margin: 0;
        color: #fff; 
        font-family: "Josefin Sans", sans-serif;
        text-align: left;
        margin-left: -25px;
        
    }

      .txt-1 li {
        margin-bottom: 10px;
      }

    .txt-1 span {
      font-family: "Righteous", sans-serif;
      font-weight: 100;
      text-decoration: underline;
      font-size: 20px;
    }
  
   /* EMAIL FORM */

   .form-section {
    background-image: url(/Images/340B_Video_patient.gif);
    background-position: left; /* Move the image to the left side */
    background-size: 400px 247px; /* Make the image smaller (200px wide) */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-color: #a6d1d1;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h3 {
    margin-top: 0;
  }
  
  .form-section p {
    text-align: center;
    font-size: 16px;
    color: #666;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-section input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    margin-bottom: 10px;
  }
  
  .form-section button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-section button[type="submit"]:hover {
    background-color: #3e8e41;
  }


  @media (max-width: 768px) {
    .white-box {
      margin-top: 90px;
      width: 90%; 
    }
  
    .flex-container1, .flex-container2 {
      flex-direction: column; 
      height: auto;
    }
  
    .flex-container1 > div, .flex-container2 > div {
      flex-basis: 100%; 
    }
  
    .form-section input[type="email"] {
      width: 100%; 
    }
  
    .cntr {
      grid-template-columns: 1fr; 
    }
  
    .service-list ol li {
      flex-basis: 100%; 
    }
  }
  
  @media (max-width: 480px) {
    .text-overlay {
      font-size: 40px; 
    }
  
    h2, h3 {
      font-size: 28px; 
    }
  
    h4 {
      font-size: 24px;
    }
  
    .white-box {
      padding: 15px;
    }
  
    .form-section input[type="email"] {
      max-width: 100%; 
    }
  }

  
   /* END OF HOME PAGE */
  






    
  
    /* ABOUT US PAGE */

    .history-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 90px;
    }
    .history {
      margin: 20px;
      
      
    }

    .history p {
      font-family: "Josefin Sans", sans-serif;
      font-size: 18px;
      margin-bottom: 20px;
    }


    .about-bcimage {
      width: 1100px; /* make the image full-width */
      height: 600px; 
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px; 
      margin-top: 20px;
      margin-bottom: 20px; 
      margin-left: 200px;
    }



    
    .flex-container {
      display: flex;
      flex-direction: column; 
      align-items: center;
      margin-bottom: 20px; 
    }
    
  
    .flex-box {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      align-items: center;
      width: 97%;
      height: 600px;
      margin: 10px;
      border-radius: 20px;
      border: 1px solid #ddd;
      padding: 20px;
      margin: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .branch-img {
      width: 500px; 
      height: 300px; 
      margin-right: 20px; 
      border-radius: 20px;
    }
    
    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      padding-top: 0; 
      padding-right: 20px;
      text-align: left;
    }
    
    .map-text {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; 
    }

    
    .flex-banner {
      width: 100%;
      height: 250px; 
      object-fit: cover;
      border-radius: 10px;
      margin: 0; /* remove all margins */
      object-position: top 70%;
      margin-top: -30px;
    }

    .flex-box .content {
      margin-left: 20px;
      order: 2; 
      text-align: left;
      margin-top: 0; 
      margin-right: 0; 
    }

    .flex-box h5 {
      margin-bottom: 10px;
    }

    .flex-box p {
      margin-top: 10px;
      text-align: left;
      font-family: "Josefin Sans", sans-serif;
    }
  
    h5 {
      font-family:"Righteous", sans-serif ;
      font-size: 24px;
      font-weight: lighter;
      text-align: right;
    }

    .map-text ul {
      font-family:"Josefin Sans", sans-serif ;
    }
    

    table, th, td {
      table-layout: fixed;
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      overflow: hidden;
      padding-bottom: 100px;
      
}
      th, td {
      border: 1px solid #ddd; /* Add border to individual cells */
      padding: 10px;
      text-align: center;
}

      th {
        background-color: #f0f0f0;
        font-family: "Josefin Sans", sans-serif;
}

      td {
        background-color: #fff;
        font-family: "Josefin Sans", sans-serif;
}


@media (max-width: 768px) {
  .about-bcimage {
    margin-left: 0;
    width: 100%;
  }

  .flex-box {
    flex-direction: column;
    height: auto;
  }

  .branch-img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .content {
    padding-right: 0;
  }
}


@media (max-width: 480px) {
  .flex-box {
    padding: 15px;
  }

  .history-container {
    padding: 15px;
  }

  .flex-container {
    margin-bottom: 15px;
  }

  .about-bcimage {
    height: auto;
    width: 100%;
  }

  .register-link {
    width: 180px;
    padding: 20px;
    margin-top: 20px;
  }

  .branch-img {
    width: 100%;
    height: auto;
  }

  .flex-banner {
    height: 180px;
  }

  h5 {
    font-size: 18px;
    text-align: center;
  }

  .map-text {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* END OF ABOUT US */







/* SERVICES PAGE */

.grid-container {
  background-color: #fffefe;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default for larger screens */
  gap: 20px;
  padding: 20px;
}

/* Grid Item */
.grid-item {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.grid-item h4 {
  font-family: "Righteous", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.grid-item p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.emergency-care h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.register-link {
  font-family: "Josefin Sans", sans-serif;
  display: block; 
  padding: 30px 40px;
  background-color: #23abb5; 
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  width: 250px;
  margin-bottom: 60px;
  margin-top: 90px;
}

.register-link:hover {
  background-color: #1b7474; 
}


@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }

  .register-link {
    width: 200px;
    padding: 25px 35px;
  }
}


@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; 
  }

  .grid-item img {
    width: 150px;
    height: 150px;
  }

  .grid-item h4 {
    font-size: 20px;
  }

  .grid-item p {
    font-size: 14px;
  }

  .register-link {
    width: 180px;
    padding: 20px 30px;
  }
}
/* END OF SERVICES PAGE */






/*DOCTORS PAGE */

.doctors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /*Auto adjust num of columns from available space. */
  gap: 20px;
  padding: 20px;
  margin-top: -50px;
}

.doctor-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s;
  font-family: "Josefin Sans", sans-serif;
}

.doctor-card img {
  object-fit: cover;
  width: 220px;
  height: 200px;
  border-radius: 10%;
  margin-bottom: 15px;
}

.doctor-card h2 {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.doctor-card p {
  margin: 5px 0;
  color: #555;
}
.doctor-card p:first-of-type {
  margin-bottom: 20px;
}

h6 {
  margin-left: 30px;
  margin-top: 100px;
  font-size: 28px;
  font-family: "Josefin Sans", sans-serif;
}
/* END OF DOCTORS PAGE */






/* CONSULTING */

.reservation-form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], select, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #299a92;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  background-color: #299a92;
}

/* END OF CONSULTING PAGE */






/* PHARMACY */

.pharmacy-form {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="number"], select, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #299a92;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

button:hover {
  background-color: #299a92;
}


@media (max-width: 768px) {
  .pharmacy-form {
    padding: 15px;
    max-width: 90%;
    margin-top: 50px;
  }

  button {
    width: 100%;
  }
}


@media (max-width: 480px) {
  .pharmacy-form {
    padding: 10px;
    max-width: 100%;
    margin-top: 40px;
  }

  button {
    width: 100%;
    padding: 12px;
  }
}
/* END OF PHARMACY PAGE */






/* PATIENT REGISTRATION FORM */

.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 90px;
  margin-bottom: 20px;
  font-family: "Josefin Sans", sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, 
.form-group select, 
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  font-size: 23px;
  display: block;
  background-color: #299a92;
  color: #fff;
  padding: 20px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 175px;
  margin: 20px auto;
}

.form-group button:hover {
  background-color: #156a64;
}
/* END OF PATIENT REGISTRATION FORM */




/* FOOTER  */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: auto;
  overflow: hidden;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  margin: 20px;
  width: calc(33.33% - 40px);
  box-sizing: border-box;
}

.footer-section h3 {
  margin-top: 0;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-link {
  font-size: 24px;
  margin: 10px;
}

.footer-copyright {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #444;
}

.footer-copyright p {
  margin: 0;
}


@media (max-width: 768px) {
  .footer-section {
    width: calc(50% - 40px); 
    margin-bottom: 20px;
  }
}


@media (max-width: 480px) {
  .footer-section {
    width: calc(100% - 40px); 
    margin: 20px auto;
  }

  .footer-content {
    justify-content: center;
  }
}
/* END OF FOOTER */


    
    

      